<article class="description">
    <header>
        <h3>// Contact:</h3>
    </header>
    <div class="article-container">
        <div class="article-text">
            <div class="row row-eq-height">
                <div class="col-md-12">
                    <ul class="code-block">
                        <li><span class="code-class">Call Me </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Email: </span>wasinger.facundo@gmail.com<span class="code-symbol">;</span></li>
                        <li><span class="code-class">Tel.: </span> 11 6956 1904 <span class="code-symbol">;</span></li>                        
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>