<article class="description">
    <header>
        <h3>// Experience:</h3>
    </header>
    <div class="article-container">
        <div class="article-text">
            <div class="row row-eq-height">
                <div class="col-md-6 code-panel-borde">
                    <ul class="code-block">
                        <li><span class="code-class">SD-Technology </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Antiquity: </span>3 year, 9 month<span class="code-symbol">;</span></li>
                        <li><span class="code-class">Work: </span>Technical Support<span class="code-symbol">;</span></li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>
