<article class="description">
    <header>
        <h3>// Facundo L. Wasinger:</h3>
    </header>
    <div class="article-container">
        <div class="article-text">
            <div class="row row-eq-height">
                <div class="col-md-12 code-panel">
                    <ul class="code-block">
                        <li><span class="code-class">Me </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Gender: </span>Male<span class="code-symbol">;</span></li>
                        <li><span class="code-class">Age: </span>22<span class="code-symbol">;</span></li>
                        <li><span class="code-class">From: </span>Argentina<span class="code-symbol">;</span></li>
                        <li><span class="code-class">Addres: </span>Jose C. Paz, Buenos Aires, Argentina<span class="code-symbol">;</span></li>
                        <li><span class="code-class">About me: </span>
                            <p class="about-me">
                                Enjoy solving puzzles and devoloping. I look for an opportunity where i help 
                                people with programs and computer solutions; I want to be part of developers of the solution.                                
                            </p> </li>                        
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>                
            </div>
        </div>
    </div>
</article>