<article class="description">
    <header>
        <h3>// Technology:</h3>
    </header>
    <div class="article-container">
        @*<span class="code-commment">/*</span>*@
        <div class="article-text">

            <div class="row row-eq-height">
                <div class="col-md-6 code-panel-borde">
                    <ul class="code-block">
                        <li><span class="code-class">CPlusPlus </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Medium<span class="code-symbol">;</span></li>
                        <li>
                            <span class="code-class">Frameworks: </span>
                            <ul class="code-block">
                                <li><span class="code-symbol">{</span></li>
                                <li>SDL,</li>
                                <li>QT,</li>
                                <li>SFML</li>
                                <li><span class="code-symbol">};</span></li>
                            </ul>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
                <div class="col-md-6 code-panel">
                    <ul class="code-block">
                        <li><span class="code-class">CSharp </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Medium-Height<span class="code-symbol">;</span></li>
                        <li>
                            <span class="code-class">Frameworks: </span>
                            <ul class="code-block">
                                <li><span class="code-symbol">{</span></li>
                                <li>.NET,</li>
                                <li>Entity Framework,</li>
                                <li>ASP/MVC,</li>
                                <li>Design Patterns,</li>
                                <li>XNA</li>
                                <li><span class="code-symbol">};</span></li>
                            </ul>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
            </div>


            <div class="clearfix code-panel-borde-top"></div>
            <div class="row row-eq-height">
                <div class="col-md-6 code-panel-borde">
                    <ul class="code-block">
                        <li><span class="code-class">Java </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Medium<span class="code-symbol">;</span></li>
                        <li>
                            <span class="code-class">Frameworks: </span>
                            <ul class="code-block">
                                <li><span class="code-symbol">{</span></li>
                                <li>Swing,</li>
                                <li>JavaFX,</li>
                                <li>Design Patterns,</li>
                                <li>Hibernate</li>
                                <li><span class="code-symbol">};</span></li>
                            </ul>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>

                <div class="col-md-6 code-panel">
                    <ul class="code-block">
                        <li><span class="code-class">JavaScript </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Medium<span class="code-symbol">;</span></li>
                        <li>
                            <span class="code-class">Frameworks: </span>
                            <ul class="code-block">
                                <li><span class="code-symbol">{</span></li>
                                <li>jQuery,</li>
                                <li>jQuery UI,</li>
                                <li><span class="code-symbol">};</span></li>
                            </ul>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
            </div>


            <div class="clearfix code-panel-borde-top"></div>
            <div class="row row-eq-height">
                <div class="col-md-6 code-panel-borde">
                    <ul class="code-block">
                        <li><span class="code-class">PHP </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Medium<span class="code-symbol">;</span></li>
                        <li>
                            <span class="code-class">Frameworks: </span>
                            <ul class="code-block">
                                <li><span class="code-symbol">{</span></li>
                                <li>Laravel,</li>
                                <li>Phalcon</li>
                                <li><span class="code-symbol">};</span></li>
                            </ul>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>

                <div class="col-md-6 code-panel">
                    <ul class="code-block">
                        <li><span class="code-class">Python </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Low<span class="code-symbol">;</span></li>
                        <li>
                            <span class="code-class">Frameworks: </span>
                            <ul class="code-block">
                                <li><span class="code-symbol">{</span></li>
                                <li>DJango</li>
                                <li><span class="code-symbol">};</span></li>
                            </ul>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
            </div>


            <div class="clearfix code-panel-borde-top"></div>
            <div class="row row-eq-height">
                <div class="col-md-6 code-panel-borde">
                    <ul class="code-block">
                        <li><span class="code-class">MSSQL </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Height<span class="code-symbol">;</span></li>
                        <li>
                            @*<span class="code-class">Knowledge: </span><span class="code-symbol">{</span>View, Store Procedure, Trigger, Cursor, General Administration<span class="code-symbol">};</span>*@
                            <ul class="code-block">
                                <li><span class="code-symbol">{</span></li>
                                <li>View,</li>
                                <li>Store Procedure,</li>
                                <li>Trigger,</li>
                                <li>Cursor,</li>
                                <li>General Administration</li>
                                <li><span class="code-symbol">};</span></li>
                            </ul>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
                <div class="col-md-6 code-panel">
                    <ul class="code-block">
                        <li><span class="code-class">MySQL/MariaDB </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Medium<span class="code-symbol">;</span></li>
                        <li>
                            <span class="code-class">Knowledge: </span>
                            <ul class="code-block">
                                <li><span class="code-symbol">{</span></li>
                                <li>View,</li>
                                <li>Store Procedure,</li>
                                <li>Trigger,</li>
                                <li>General Administration,</li>
                                <li><span class="code-symbol">};</span></li>
                            </ul>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
            </div>

        </div>
        @*<span class="code-commment">*/</span>*@
    </div>
</article>
