<article class="description">
    <header>
        <h3>// Education:</h3>
    </header>
    <div class="article-container">
        <div class="article-text">
            <div class="row row-eq-height">

                <div class="col-md-6 code-panel-borde">
                    <ul class="code-block">
                        <li><span class="code-class">Polimodal </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Establishment: </span>Instituto San Eduardo<span class="code-symbol">;</span></li>
                        <li><span class="code-class">Diploma: </span>Bachiller, Modalidad Cs. Naturales<span class="code-symbol">;</span></li>
                        <li><span class="code-class">Status: </span>Complete<span class="code-symbol">;</span></li>
                        <li><span class="code-class">Graduation: </span>2011<span class="code-symbol">;</span></li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="code-block">
                        <li><span class="code-class">Academic </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Establishment: </span>Universidad Tecnologica Nacional<span class="code-symbol">;</span></li>
                        <li><span class="code-class">Diploma: </span>Tecnico Superior en Programacion<span class="code-symbol">;</span></li>
                        <li><span class="code-class">Status: </span>Complete<span class="code-symbol">;</span></li>
                        <li><span class="code-class">Graduation: </span>2015<span class="code-symbol">;</span></li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>