<article class="description">
    <header>
        <h3>// Lenguage:</h3>
    </header>
    <div class="article-container">
        <div class="article-text">
            <div class="row row-eq-height">
                <div class="col-md-12">
                    <ul class="code-block">
                        <li><span class="code-class">English </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Technical English: </span>Medium-High<span class="code-symbol">;</span></li>
                        <li><span class="code-class">Writing: </span>Medium<span class="code-symbol">;</span></li>
                        <li><span class="code-class">Spoken: </span>Low<span class="code-symbol">;</span></li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>
