<article class="description">
    <header>
        <h3>// Technology:</h3>
    </header>
    <div class="article-container">
        @*<span class="code-commment">/*</span>*@
        <div class="article-text">

            <div class="row row-eq-height">                
                <div class="col-md-12 code-panel">
                    <ul class="code-block">
                        <li><span class="code-class">CSharp </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Medium-Height<span class="code-symbol">;</span></li>
                        <li>
                            <span class="code-class">Frameworks: </span><span class="code-symbol">{</span> .NET, Entity Framework, ASP/MVC, Design Patterns, XNA <span class="code-symbol">};</span>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
            </div>


            <div class="clearfix code-panel-borde-top"></div>
            <div class="row row-eq-height">
                <div class="col-md-12">
                    <ul class="code-block">
                        <li><span class="code-class">Java </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Medium<span class="code-symbol">;</span></li>
                        <li>
                            <span class="code-class">Frameworks: </span><span class="code-symbol">{</span> Swing, JavaFX, Design Patterns, Hibernate<span class="code-symbol">};</span>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>               
            </div>

            
            <div class="clearfix code-panel-borde-top"></div>
            <div class="row row-eq-height">
                <div class="col-md-12">
                    <ul class="code-block">
                        <li><span class="code-class">MSSQL </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Height<span class="code-symbol">;</span></li>
                        <li>
                            <span class="code-class">Knowledge: </span><span class="code-symbol">{</span>View, Store Procedure, Trigger, Cursor, General Administration<span class="code-symbol">};</span>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
            </div>

            <div class="clearfix code-panel-borde-top"></div>
            <div class="row row-eq-height">
                <div class="col-md-12 code-panel">
                    <ul class="code-block">
                        <li><span class="code-class">MySQL/MariaDB </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Medium<span class="code-symbol">;</span></li>
                        <li>
                            <span class="code-class">Knowledge: </span><span class="code-symbol">{</span>View, Store Procedure, Trigger, Cursor, General Administration<span class="code-symbol">};</span>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
            </div>


            <div class="clearfix code-panel-borde-top"></div>
            <div class="row row-eq-height">
                <div class="col-md-6 code-panel-borde">
                    <ul class="code-block">
                        <li><span class="code-class">CPlusPlus </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Medium<span class="code-symbol">;</span></li>
                        <li>
                            <span class="code-class">Frameworks: </span><span class="code-symbol">{</span> SDL, QT, SFML <span class="code-symbol">};</span>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
                <div class="col-md-6 code-panel">
                    <ul class="code-block">
                        <li><span class="code-class">JavaScript </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Medium<span class="code-symbol">;</span></li>
                        <li>
                            <span class="code-class">Frameworks: </span><span class="code-symbol">{</span> jQuery, jQuery UI <span class="code-symbol">};</span>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
            </div>

            <div class="clearfix code-panel-borde-top"></div>
            <div class="row row-eq-height">
                <div class="col-md-6 code-panel-borde">
                    <ul class="code-block">
                        <li><span class="code-class">PHP </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Medium<span class="code-symbol">;</span></li>
                        <li>
                            <span class="code-class">Frameworks: </span><span class="code-symbol">{</span> Laravel, Phalcon<span class="code-symbol">};</span>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>

                <div class="col-md-6 code-panel code-pane">
                    <ul class="code-block">
                        <li><span class="code-class">Python </span><span class="code-symbol">{</span></li>
                        <li><span class="code-class">Level: </span>Low<span class="code-symbol">;</span></li>
                        <li>
                            <span class="code-class">Frameworks: </span><span class="code-symbol">{</span> DJango <span class="code-symbol">};</span>
                        </li>
                        <li><span class="code-symbol">};</span></li>
                    </ul>
                </div>
            </div>


            

        </div>
        @*<span class="code-commment">*/</span>*@
    </div>
</article>
